*~
*.cm[ioax]
*.cmxa
*.annot
*.[oa]
*.so
*.exe
*.com
._bcdi/
._d/
._ncdi/
configure-chris
autom4te.cache/
config.log
config.status
configure
Makefile
src/META
src/fftw3D.ml
src/fftw3S.ml
src/fftw3_geomC.ml
src/fftw3_geomF.ml
examples/mem
examples/delta
examples/henon
examples/xcorr
examples/chirp
*.tar.gz
tests/basic
doc/
